@import "../style.css"; 
@import "../featured/_variables.css"; 
@import "../featured/_nav.css"; 
@import "../featured/_footer.css";

.container {
  letter-spacing: var(--text-spacing);
  min-height: 83.5vh;
} 

.drinkitem {
  margin: 20px 0 0 0;
}

.id {
  margin: -40px 0 50px 0;
  text-align: center;
}

.bold_txt {
  color: var(--primary-color);
  font-weight: bold;
}
  
.drinkimg {
  width: 20%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    min-height: 86vh;
  } 
  h1 {
    padding: 50px 0 50px 0;
  }
  .drink-detail {
    margin-bottom: 140px;
}
  .drinkitem {
    margin: 40px 0 0 0;
  }
  .drinkimg {
    width: 60%;
  }
}

@media (max-width: 768px) {  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 85.75vh;
  }
  h1 {
    font-size: 1.9em;
    padding: 20px 0 30px 0;
  }
  .drinkitem {
    margin: 50px 0 0 0;
  }
  .id {
    margin: -20px 0 55px 0;
  }
  .drinkimg {
    width: 80%;
  }
}